# series object from list

In [1]:
import pandas as pd

In [3]:
print(dir(pd))

['Categorical', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'ExcelFile', 'ExcelWriter', 'Expr', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int64Index', 'Interval', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Period', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseSeries', 'Term', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt64Index', 'WidePanel', '_DeprecatedModule', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p10', '_np_version_under1p11', '_np_version_under1p12', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_tslib', '_version', 'api', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'datetools', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'get_store', 'groupby', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json', 'lib', 'lreshape', 'match', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'parser', 'period_range', 'pivot', 'pivot_table', 'plot_params', 'plotting', 'pnow', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'scatter_matrix', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tools', 'tseries', 'tslib', 'unique', 'util', 'value_counts', 'wide_to_long']

In [4]:
ice_cream = ['chandan','bharath','chaitra','druthiya','appu','arpi',100,'50']
pd.Series(ice_cream)

0     chandan
1     bharath
2     chaitra
3    druthiya
4        appu
5        arpi
6         100
7          50
dtype: object

# Series object from dictionaries

In [14]:
dish = {"dosa":'very good dish',
        20 : 'good number',
        'tupl':(20,10,30,40),
        'list':[50,20,[30,50]],
        (30,50,):(50,60),
       }  
print(dish)

{'dosa': 'very good dish', 20: 'good number', 'tupl': (20, 10, 30, 40), 'list': [50, 20, [30, 50]], (30, 50): (50, 60)}

In [17]:
person_bh = {'chandan' : 'good human',
             'bharath' : 'yerri pukku',
             'chaitra': 'friend',
             'druthiya': 'kovvu',
             'appu' : 'bae',
             'arpi': 'kengeri',
             100:'number'
            }
print(pd.Series(person_bh))

chandan      good human
bharath     yerri pukku
chaitra          friend
druthiya          kovvu
appu                bae
arpi            kengeri
100              number
dtype: object

# Series Attributes

In [25]:
gesture = ['hello','welcome','hru','thankyou','hello']
A = pd.Series(gesture)
print(A)

0       hello
1     welcome
2         hru
3    thankyou
4       hello
dtype: object

In [26]:
A.values

array(['hello', 'welcome', 'hru', 'thankyou', 'hello'], dtype=object)

In [27]:
A.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
A.dtype

dtype('O')

In [30]:
A.itemsize

/home/chandan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

8

In [31]:
A.empty

False

# methods

In [3]:
s = [22.2,33.5,56.3]
S = pd.Series(s)

In [4]:
S.sum()

112.0

In [6]:
S.std()

17.370185184198046

In [7]:
S.mean()

37.333333333333336

In [8]:
S.values

array([22.2, 33.5, 56.3])

In [10]:
d = [1.2,3.4,343,]
print(d)
d = pd.Series(d)
print(d)

[1.2, 3.4, 343]
0      1.2
1      3.4
2    343.0
dtype: float64

# parameters and arguments

In [18]:
w = ['monday','tuesday','wednesday']
n = ['orange','apple','watermelon']
a = pd.Series(data=w , index=n)
a

orange           monday
apple           tuesday
watermelon    wednesday
dtype: object

In [19]:
w = ['monday','tuesday','wednesday']
n = ['orange','apple','watermelon']
a = pd.Series(w , index=n)
a

orange           monday
apple           tuesday
watermelon    wednesday
dtype: object



# csv file importing

In [10]:
pokemon=pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',usecols=['Pokemon'],squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [13]:
google = pd.read_csv("/home/chandan/Desktop/pandas/google_stock_price.csv",squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [24]:
google = pd.read_csv("/home/chandan/Desktop/pandas/google_stock_price.csv",squeeze=True)
new_h = google.head(7)
new_t = google.tail(7)
print(new_h,new_t,sep='\n')

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
Name: Stock Price, dtype: float64
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

# built-in function

In [10]:
pokemon=pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',usecols=['Pokemon'],squeeze=True)
google = pd.read_csv("/home/chandan/Desktop/pandas/google_stock_price.csv",squeeze=True)

In [4]:
pokemon.size
google.size

3012

In [5]:
google.shape

(3012,)

In [6]:
google.is_unique

False

In [5]:
pokemon.name = 'chandan'

In [9]:
print(pokemon.head())

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: chandan, dtype: object

# .sort_value()

In [11]:
pokemon=pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',usecols=['Pokemon'],squeeze=True)
google = pd.read_csv("/home/chandan/Desktop/pandas/google_stock_price.csv",squeeze=True)

In [12]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [16]:
pokemon.sort_values(ascending=True).head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [20]:
pokemon.sort_index(ascending=False).head()

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
Name: Pokemon, dtype: object

# extaracting value throu index position

In [20]:
pokemon=pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',usecols=['Pokemon'],squeeze=True)
google = pd.read_csv("/home/chandan/Desktop/pandas/google_stock_price.csv",squeeze=True)

In [21]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [22]:
pokemon[4]

'Charmeleon'

In [23]:
a = pokemon[1]
pokemon[1] = 'Ivysaur'
print(pokemon[1])

Ivysaur

In [24]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [25]:
pokemon.tail(60)

661    Fletchinder
662     Talonflame
663     Scatterbug
664         Spewpa
665       Vivillon
666         Litleo
667         Pyroar
668        Flabébé
669        Floette
670        Florges
671         Skiddo
672         Gogoat
673        Pancham
674        Pangoro
675        Furfrou
676         Espurr
677       Meowstic
678        Honedge
679       Doublade
680      Aegislash
681       Spritzee
682     Aromatisse
683        Swirlix
684       Slurpuff
685          Inkay
686        Malamar
687        Binacle
688     Barbaracle
689         Skrelp
690       Dragalge
691      Clauncher
692      Clawitzer
693     Helioptile
694      Heliolisk
695         Tyrunt
696      Tyrantrum
697         Amaura
698        Aurorus
699        Sylveon
700       Hawlucha
701        Dedenne
702        Carbink
703          Goomy
704        Sliggoo
705         Goodra
706         Klefki
707       Phantump
708      Trevenant
709      Pumpkaboo
710      Gourgeist
711       Bergmite
712        Avalugg
713         Noibat
714        Noivern
715        Xerneas
716        Yveltal
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
Name: Pokemon, dtype: object

In [28]:
pokemon[-30:-10]

691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
Name: Pokemon, dtype: object

# extracting values by index label

In [54]:
pokemon = pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',index_col="Pokemon",squeeze=True)
print(pokemon.head(10))

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

In [69]:
pokemon[['Caterpie','pikachu','Squirtle']]

/home/chandan/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Pokemon
Caterpie      Bug
pikachu       NaN
Squirtle    Water
Name: Type, dtype: object

In [68]:
pokemon.reindex(['Caterpie','Pikachu','Squirte']) #alternative to the above one

Pokemon
Caerpie    NaN
Pikchu     NaN
Squirle    NaN
Name: Type, dtype: object

In [74]:
pokemon = pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',index_col="Pokemon",squeeze=True)
pokemon.sort_index(inplace=True)
pokemon.head(10)

Pokemon
Abomasnow       Grass
Abra          Psychic
Absol            Dark
Accelgor          Bug
Aegislash       Steel
Aerodactyl       Rock
Aggron          Steel
Aipom          Normal
Alakazam      Psychic
Alomomola       Water
Name: Type, dtype: object

# .get()

In [75]:
pokemon = pd.read_csv('/home/chandan/Desktop/pandas/pokemon.csv',index_col="Pokemon",squeeze=True)
print(pokemon.head(10))

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

In [91]:
a=pokemon.get(["Caterpie","Pikachu","Ivysaur"],default = "no such pokemon")
print(a)

Pokemon
Caterpie         Bug
Pikachu     Electric
Ivysaur        Grass
Name: Type, dtype: object

In [92]:
a=pokemon.get(["Caterpie","chandan","Ivysaur"],default = "no such pokemon")
print(a)

Pokemon
Caterpie      Bug
chandan       NaN
Ivysaur     Grass
Name: Type, dtype: object

/home/chandan/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [93]:
a=pokemon.get("chandan",default = "no such pokemon")
print(a)

no such pokemon

# math method

In [97]:
google = pd.read_csv("/home/chandan/Desktop/pandas/google_stock_price.csv",squeeze=True)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [98]:
google.count() #exclude NaN from counting

3012

In [101]:
len(google)  #counts all the rows including NaN

3012

In [104]:
google.sum()

1006942.0

In [106]:
google.mean()

334.31009296148744

In [108]:
google.sum()/3012

334.3100929614874

In [109]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [117]:
a=3012*float(25/100)
a

753.0

In [120]:
a = {'a':"akshatha",'b':"bandi",'c':"chandan"}
pd.Series(a)

a    akshatha
b       bandi
c     chandan
dtype: object